.banner .home-img {
    padding: calc(10vw + 50px) calc(5vw + 10px);
    background-image: url(../../../public/img/banner.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 7px;
  }
  .banner .home-img .banner-data h6 {
    color: #4a5568;
  }
  .banner .home-img .banner-data h6 span {
    color: #ff4f4f;
    padding: 10px 16px;
    margin-left: 5px;
    border-radius: 50px;
    background: linear-gradient(90deg, rgba(255, 114, 114, 0.15) 0%, rgba(255, 114, 114, 0) 79%);
  }
  .banner .home-img .banner-data h2 {
    font-size: 42px;
    color: black;
  }
  .banner .home-img .banner-data h2 span {
    color: #0da487;
    font-weight: 700;
  }
  .banner .home-img .banner-data p {
    color: #4a5568;
    font-size: 14px;
  }
  .banner .home-img .banner-data .shop-btn {
    padding: 14px 32px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(90deg, #ff7272 0%, #ff4f4f 100%);
    color: #ffffff;
    transition: all 0.5s;
  }
  .banner .home-img .banner-data .shop-btn a {
    color: #ffffff;
  }
  .banner .home-img .banner-data .shop-btn:hover {
    background: linear-gradient(90deg, #ff4f4f 0%, #ff7272 100%);
  }

  @media (max-width : 1000px) {
    .offer-box{
      padding: 2px;
    }
  }
  .offer-box{
    padding: 2px;
  }
  
  .banner .off-45 {
    background-image: url(../img/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    border-radius: 7px;
    margin: 0;
  }
  .banner .off-45 .off-content {
    padding: 70px 10px;
  }
  .banner .off-45 .off-content h6 span {
    font-size: 38px;
    color: #ff4f4f;
    padding: 0 5px 0 0;
    font-weight: 500;
  }
  .banner .off-45 .off-content h2 {
    font-size: 26px;
    font-weight: 500;
    color: #0da487;
  }
  .banner .off-45 .off-content p {
    font-size: 14px;
  }
  .banner .off-45 .off-content .shop-btn2 {
    border: none;
    background-color: transparent;
  }
  .banner .off-45 .off-content .shop-btn2 i {
    margin-left: 3px;
    transition: all 1s;
  }
  .banner .off-45 .off-content .shop-btn2 i:hover {
    transform: translateX(15px);
  }
  .banner .healthy-food {
    background-image: url(../img/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;
    height: 100%;
  }
  .banner .healthy-food .healthy-content {
    padding: 65px 10px;
  }
  .banner .healthy-food .healthy-content h6 {
    font-size: 38px;
    color: #0da487;
    font-weight: 500;
  }
  .banner .healthy-food .healthy-content h2 {
    font-size: 26px;
    font-weight: 500;
    color: #ff4f4f;
  }
  .banner .healthy-food .healthy-content p {
    font-size: 14px;
  }
  .banner .healthy-food .healthy-content .shop-btn3 {
    border: none;
    background-color: transparent;
  }
  .banner .healthy-food .healthy-content .shop-btn3 i {
    margin-left: 3px;
    transition: all 1s;
  }
  .banner .healthy-food .healthy-content .shop-btn3 i:hover {
    transform: translateX(15px);
  }
  
  .hot-deals {
    position: relative;
  }
  .hot-deals .deal-1 {
    margin: 0 5px;
    background-image: url(../img/4.jpg);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    position: relative;
    border-radius: 5px;
    background-size: cover;
    width: 390px;
    padding: 70px 0px 0px;
  }
  .hot-deals .deal-1 .deal-content {
    width: 70%;
    background-color: rgba(255, 255, 255, 0.589);
    border-radius: 0 50px 50px 0;
  }
  .hot-deals .deal-1 .deal-content span {
    color: #ff4f4f;
  }
  .hot-deals .deal-1 .deal-content h4 {
    margin: 0;
  }
  .hot-deals .deal-1 .deal-content p {
    margin: 0;
  }
  .hot-deals .deal-1 a {
    color: #ffffff;
  }
  .hot-deals .deal-1 .deal-btn {
    padding: 40px 0 20px 35px;
  }
  .hot-deals .deal-2 {
    background-image: url(../img/5.jpg);
    position: relative;
    border-radius: 5px;
    background-size: cover;
    width: 390px;
    padding: 70px 0px 0px;
  }
  .hot-deals .deal-2 .deal-content {
    width: 70%;
    background-color: rgba(255, 255, 255, 0.589);
    border-radius: 0 50px 50px 0;
  }
  .hot-deals .deal-2 .deal-content span {
    color: #ff4f4f;
  }
  .hot-deals .deal-2 .deal-content h4 {
    margin: 0;
  }
  .hot-deals .deal-2 .deal-content p {
    margin: 0;
  }
  .hot-deals .deal-2 a {
    color: #ffffff;
  }
  .hot-deals .deal-2 .deal-btn {
    padding: 40px 0 20px 35px;
  }
  .hot-deals .deal-3 {
    background-image: url(../img/6.jpg);
    position: relative;
    border-radius: 5px;
    background-size: cover;
    width: 390px;
    padding: 70px 0px 0px;
  }
  .hot-deals .deal-3 .deal-content {
    width: 70%;
    background-color: rgba(255, 255, 255, 0.589);
    border-radius: 0 50px 50px 0;
  }
  .hot-deals .deal-3 .deal-content span {
    color: #ff4f4f;
  }
  .hot-deals .deal-3 .deal-content h4 {
    margin: 0;
  }
  .hot-deals .deal-3 .deal-content p {
    margin: 0;
  }
  .hot-deals .deal-3 a {
    color: #ffffff;
  }
  .hot-deals .deal-3 .deal-btn {
    padding: 40px 0 20px 35px;
  }
  .hot-deals .deal-4 {
    background-image: url(../img/7.jpg);
    position: relative;
    border-radius: 5px;
    background-size: cover;
    width: 390px;
    padding: 70px 0px 0px;
  }
  .hot-deals .deal-4 .deal-content {
    width: 70%;
    background-color: rgba(255, 255, 255, 0.589);
    border-radius: 0 50px 50px 0;
  }
  .hot-deals .deal-4 .deal-content span {
    color: #ff4f4f;
  }
  .hot-deals .deal-4 .deal-content h4 {
    margin: 0;
  }
  .hot-deals .deal-4 .deal-content p {
    margin: 0;
  }
  .hot-deals .deal-4 a {
    color: #ffffff;
  }
  .hot-deals .deal-4 .deal-btn {
    padding: 40px 0 20px 35px;
  }
  
  .product .category {
    background-color: #F8F8F8;
    border-radius: 7px;
    padding: 20px;
    height: 700px;
  }
  .product .category h5 {
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
  }
  .product .category h5::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: -8px;
    left: 0;
    background-color: #0da487;
  }
  .product .category .category-list {
    border-bottom: 1px dotted #222222;
    padding-bottom: 20px;
  }
  .product .category .category-list li {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
  }
  .product .category .category-list li img {
    margin-right: 10px;
  }
  .product .category .category-list li a {
    color: #222222;
    position: relative;
  }
  .product .category .category-list li a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    border-radius: 50px;
    background-color: #0da487;
    z-index: 1;
    transition: all 0.3s ease-in-out;
  }
  .product .category .category-list li:hover a::before {
    width: 70px;
  }
  .product .category .value-list {
    padding-top: 20px;
  }
  .product .category .value-list li {
    width: 100% !important;
  }
  .product .category .value-list li a {
    color: #222222;
    position: relative;
  }
  .product .category .value-list li a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -2px;
    left: 0;
    opacity: 0.5;
    border-radius: 50px;
    background-color: #0da487;
    z-index: 1;
    transition: all 0.3s ease-in-out;
  }
  .product .category .value-list li:hover a::before {
    width: 70px;
  }
  
  .top-save .top-save-data .leaves {
    position: relative;
    margin: 0 50px 0 50px;
  }
  .top-save .top-save-data .leaves::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    top: 49%;
    left: 100%;
    background-color: #0da487;
  }
  .top-save .top-save-data .leaves::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    top: 49%;
    right: 100%;
    background-color: #0da487;
  }
  .top-save .top-save-data .time {
    background-color: #ff4f4f;
    padding: 10px;
    border-radius: 7px;
    color: #ffffff;
    font-size: 14px;
  }
  .top-save .top-save-data .time p {
    margin: 0;
    color: #ffffff;
  }
  .top-save .top-save-data p {
    color: #4a5568;
    font-size: 14px;
  }
 /* // product list */
 .Product-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
 }
 .product-img{
  height: 96px;
  width: 100px;
  margin: 0 auto;
 }
 .discoutes-price {
  color: #0da487;
  font-size: larger;
  font-weight: 500;
 }     
 
 .Addtocart{
  background-color: #ececec;
  border-radius: 50px;
  border: transparent;
  width: 70%;
  color: #222222;
  font-weight: 600;
  transition: all 0.5s;
 }
 .Addtocart:hover,.AddtoWish:hover{
  background-color: #0da487;
  color: #ececec;
 }

 .AddtoWish{
  background-color: #ececec;
 position: relative;
 border: transparent;
 border-radius: 50%;
 width: 20%;
 color: #222222;
}
.heart{
   font-size: 25px;
   font-weight: 600;
   /* color: #222222; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }

 .product-card{
  margin: 4px;
  width: 14rem;
 }

  .slick-wrapper {
    width: 100%;
    border: 2px solid #ececec;
    border-radius: 7px;
    overflow: hidden;
  }
  
  .slide-item {
    padding: 14px;
    color: #222222;
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: auto;
    border: 1px solid #ececec;
  }
  .slide-item .box1:hover .product-img img {
    transform: scale(1.1);
  }
  .slide-item .box1:hover .product-img .view {
    visibility: visible;
    opacity: 1;
    bottom: 15px;
  }
  .slide-item .box1 .product-img {
    padding: 20px;
    overflow: hidden;
    position: relative;
  }
  .slide-item .box1 .product-img img {
    transition: all 0.5s;
  }
  .slide-item .box1 .product-img .view {
    position: absolute;
    left: 50%;
    bottom: -15px;
    visibility: hidden;
    opacity: 0;
    border-radius: 7px;
    background-color: #F8F8F8;
    transform: translateX(-50%);
    transition: all 0.5s;
  }
  .slide-item .box1 .product-img .view ul {
    padding: 5px;
  }
  .slide-item .box1 .product-img .view ul li:nth-child(2) {
    border-left: 1px solid #ececec;
    border-Right: 1px solid #ececec;
  }
  .slide-item .box1 .product-img .view ul li {
    padding: 0 5px;
  }
  .slide-item .box1 .product-img .view ul li a {
    color: #4a5568;
    font-size: 16px;
  }
  .slide-item .box1 .details h6 {
    font-size: 14px;
  }
  .slide-item .box1 .details p {
    font-size: 15px;
    color: #0da487;
    font-weight: 700;
    margin: 0;
  }
  .slide-item .box1 .details p span {
    font-size: 14px;
    color: #4a5568;
    text-decoration: line-through;
    font-weight: 100;
  }
  .slide-item .box1 .details .add-btn {
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    color: #4a5568;
    border-radius: 50px;
    font-weight: 500;
    position: relative;
    border: none;
  }
  .slide-item .box1 .details .add-btn span {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #0da487;
    border-radius: 50%;
  }
  .slide-item .box1 .details .add-btn span i {
    font-size: 24px;
  }
  
  .slick-arrow {
    display: none !important;
  }
  
  .browse .leaves {
    position: relative;
    margin: 0 50px 0 50px;
  }
  .browse .leaves::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    top: 49%;
    left: 100%;
    background-color: #0da487;
  }
  .browse .leaves::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    top: 49%;
    right: 100%;
    background-color: #0da487;
  }
.browse-category {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border-radius: 7px;
    /* padding: 22px 10px; */
    margin: 0 10px;
    transition: all 0.5s linear;
  }
  .browse-category img{
    width: 80px;
  }
  @media (max-width : 1200px) {
    .browse-category img{
      width: 50px;
    }
  }
  .browse .browse-category h5 {
    font-size: 16px;
    margin-top: 7px;
    padding: 0 15px;
    transition: all 0.5s linear;
  }
  .browse .browse-category:hover {
    background-color: #0da487;
    background-image: url(../img/shape.png);
    background-size: cover;
  }
  .browse .browse-category:hover img {
    filter: invert(1) brightness(100);
  }
  .browse .browse-category:hover h5 {
    filter: invert(1) brightness(100);
  }
  
  .browse-wrapper {
    padding: 10px 0;
    overflow-x: hidden;
  }
  
  .slick-initialized .slick-slide2 {
    height: 200px;
    margin: 0 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slick-dots {
    display: none !important;
  }
  
  /* .seafood section */
 
  .seafood .seafood-side-banner {
    background-image: url(../img/8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -60px 0;
    padding: 50px 25px;
    /* height: 100vh; */
    /* width: 100%; */
    border-radius: 7px;
  }
  .seafood .seafood-side-banner h4 {
    font-size: 22px;
    color: #ffb321;
  }
  .seafood .seafood-side-banner h2 {
    font-size: 26px;
    color: #0da487;
  }
  .seafood .seafood-side-banner h2 span {
    color: #222222;
  }
  .seafood .seafood-side-banner p {
    font-size: 26px;
  }
  .seafood .seafood-side-banner button {
    padding: 14px 32px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(90deg, #ff7272 0%, #ff4f4f 100%);
    color: #ffffff;
    transition: all 0.5s;
    padding: 10px 15px;
 
  }
  .seafood .seafood-side-banner button a {
    color: #ffffff;
  }
  .seafood .seafood-side-banner button:hover {
    background: linear-gradient(90deg, #ff4f4f 0%, #ff7272 100%);
  }
  .seafood .organic {
    padding: 40px 0;
  }
  .seafood .organic .organic-side-banner {
    background-image: url(../img/11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 20px;
    border-radius: 8px;
    /* width: 100%; */
  }
  .seafood .organic .organic-side-banner h4 {
    font-size: 22px;
    color: #ffb321;
  }
  .seafood .organic .organic-side-banner h2 {
    font-size: 36px;
    color: #0da487;
  }
  .seafood .organic .organic-side-banner span {
    font-size: 36px;
  }
  .seafood .organic .organic-side-banner p {
    font-size: 26px;
  }
  .seafood .organic .organic-side-banner button {
    padding: 14px 32px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(90deg, #ff7272 0%, #ff4f4f 100%);
    color: #ffffff;
    transition: all 0.5s;
    padding: 10px 15px;
  }
  .seafood .organic .organic-side-banner button a {
    color: #ffffff;
  }
  .seafood .organic .organic-side-banner button:hover {
    background: linear-gradient(90deg, #ff4f4f 0%, #ff7272 100%);
  }
  .seafood .trending-product .tranding {
    padding: 15px 20px;
    background-color: #F8F8F8;
    border-radius: 8px;
  }
  .seafood .trending-product .tranding h3 {
    font-size: 18px;
    position: relative;
  }
  .seafood .trending-product .tranding h3::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 1px;
    bottom: -8px;
    left: 0;
    background-color: #0da487;
  }
  .seafood .trending-product .tranding .trending-list .list01 {
    padding-top: 10px;
  }
  .seafood .trending-product .tranding .trending-list .list01 img {
    width: 80px;
    padding: 10px;
    transition: all 1s;
  }
  .seafood .trending-product .tranding .trending-list .list01 img:hover {
    transform: scale(1.1);
  }
  .seafood .trending-product .tranding .trending-list .list01 .list-info {
    padding: 5px 0px 5px 10px;
    border-bottom: 1px dashed #4a5568;
  }
  .seafood .trending-product .tranding .trending-list .list01 .list-info a {
    color: #222222;
  }
  .seafood .trending-product .tranding .trending-list .list01 .list-info a h6 {
    margin: 0;
    font-size: 14px;
    transition: all 0.5s;
  }
  .seafood .trending-product .tranding .trending-list .list01 .list-info a h6:hover {
    color: #0da487;
  }
  .seafood .trending-product .tranding .trending-list .list01 .list-info span {
    color: #4a5568;
  }
  .seafood .trending-product .tranding .trending-list .list01 .list-info p {
    color: #0da487;
  }
  .seafood .trending-product .tranding #list-1 {
    border: none;
  }
  .seafood .customer-comment .customer {
    padding: 15px 20px;
    background-color: #F8F8F8;
    border-radius: 8px;
  }
  .seafood .customer-comment .customer h3 {
    font-size: 24px;
    position: relative;
  }
  .seafood .customer-comment .customer h3::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: -8px;
    left: 0;
    background-color: #0da487;
  }
  .seafood .customer-comment .customer span {
    padding: 40px 0;
    color: #222222;
  }
  .seafood .customer-comment .customer p {
    color: #4a5568;
  }
  .seafood .customer-comment .customer .customer-pic img {
    width: 70px;
    border-radius: 50%;
    transition: all 0.5s;
  }
  .seafood .customer-comment .customer .customer-pic img:hover {
    border-radius: 7px;
  }
  .seafood .customer-comment .customer .customer-pic .customer-info {
    padding: 5px 15px;
  }
  .seafood .customer-comment .customer .customer-pic .customer-info h6 {
    color: #222222;
    font-size: 18px;
  }
  .seafood .customer-comment .customer .customer-pic .customer-info span {
    color: #4a5568;
  }
  .seafood .banner-meat .mushroom-offer .mushroom {
    background-image: url(../img/10.jpg);
    background-size: cover;
    border-radius: 7px;
    margin: 0 10px;
    padding: 15px 35px;
    width: 100%;
  }
  .seafood .banner-meat .mushroom-offer .mushroom h3 {
    font-size: 25px;
  }
  .seafood .banner-meat .mushroom-offer .mushroom span {
    font-size: 20px;
    color: #0da487;
    display: block;
    padding: 5px 0;
    font-weight: 700px;
  }
  .seafood .banner-meat .mushroom-offer .mushroom button {
    padding: 14px 32px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(90deg, #ff7272 0%, #ff4f4f 100%);
    color: #ffffff;
    transition: all 0.5s;
    padding: 5px 10px;
    font-size: 15px;
  }
  .seafood .banner-meat .mushroom-offer .mushroom button a {
    color: #ffffff;
  }
  .seafood .banner-meat .mushroom-offer .mushroom button:hover {
    background: linear-gradient(90deg, #ff4f4f 0%, #ff7272 100%);
  }
  .seafood .banner-meat .mushroom-offer #meat {
    background-image: url(../img/9.jpg);
  }
  .seafood .cupboard .top-save-data span {
    position: relative;
    margin: 0 50px 0 50px;
  }
  .seafood .cupboard .top-save-data span::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    top: 49%;
    left: 100%;
    background-color: #0da487;
  }
  .seafood .cupboard .top-save-data span::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    top: 49%;
    right: 100%;
    background-color: #0da487;
  }
  .seafood .cashback {
    background-image: url(../img/15.jpg);
    background-size: cover;
    text-align: center;
    border-radius: 7px;
    padding: 30px;
  }
  .seafood .cashback h3 {
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
  }
  .seafood .cashback p {
    color: #ffffff;
    border: 2px dashed #F8F8F8;
    display: block;
    width: 20%;
    padding: 5px;
    margin: 0 auto;
  }
  .seafood .get-ready .ready {
    background-image: url(../img/12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px 20px;
    border-radius: 8px;
  }
  .seafood .get-ready .ready h2 {
    font-size: 38px;
    color: #0da487;
    font-family: "Kaushan Script";
  }
  .seafood .get-ready .ready span {
    font-size: 28px;
  }
  .seafood .get-ready .ready P {
    color: #4a5568;
    font-size: 14px;
  }
  .seafood .get-ready .ready button {
    padding: 14px 32px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(90deg, #ff7272 0%, #ff4f4f 100%);
    color: #ffffff;
    transition: all 0.5s;
    padding: 5px 10px;
    font-size: 16px;
  }
  .seafood .get-ready .ready button a {
    color: #ffffff;
  }
  .seafood .get-ready .ready button:hover {
    background: linear-gradient(90deg, #ff4f4f 0%, #ff7272 100%);
  }
  .seafood .summry {
    background-image: url(../img/13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 36px 20px;
    border-radius: 8px;
  }
  .seafood .summry h2 {
    font-size: 38px;
    color: #ff4f4f;
    font-family: "Russo One";
    margin: 0;
  }
  .seafood .summry span {
    font-size: 28px;
    color: #0da487;
  }
  .seafood .summry P {
    color: #222222;
    font-size: 28px;
  }
  .seafood .best-seller .our-best h3 {
    font-size: 28px;
  }
  .seafood .best-seller .our-best .leaves {
    position: relative;
    margin: 0 50px;
  }
  .seafood .best-seller .our-best .leaves::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    top: 49%;
    left: 100%;
    background-color: #0da487;
  }
  .seafood .best-seller .our-best .leaves::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    top: 49%;
    right: 100%;
    background-color: #0da487;
  }
  .seafood .best-seller .our-best span {
    color: #4a5568;
  }
  .seafood .best-seller .our-best .best-product .best-list {
    margin: 0 5px 0 0px;
    padding: 15px 20px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid rgba(74, 85, 104, 0.3);
  }
  .seafood .best-seller .our-best .best-product .best-list #list-1 {
    border: none;
  }
  .seafood .best-seller .our-best .best-product .best-list .list01 {
    padding-top: 10px;
  }
  .seafood .best-seller .our-best .best-product .best-list .list01 img {
    width: 80px;
    height: 80px;
    padding: 10px;
    transition: all 1s;
  }
  .seafood .best-seller .our-best .best-product .best-list .list01 img:hover {
    transform: scale(1.1);
  }
  .seafood .best-seller .our-best .best-product .best-list .list01 .list-info {
    padding: 5px 0px 5px 10px;
    border-bottom: 1px dashed rgba(74, 85, 104, 0.3);
  }
  .seafood .best-seller .our-best .best-product .best-list .list01 .list-info a {
    color: #222222;
  }
  .seafood .best-seller .our-best .best-product .best-list .list01 .list-info a h6 {
    margin: 0;
    font-size: 14px;
    transition: all 0.5s;
  }
  .seafood .best-seller .our-best .best-product .best-list .list01 .list-info a h6:hover {
    color: #0da487;
  }
  .seafood .best-seller .our-best .best-product .best-list .list01 .list-info span {
    color: #4a5568;
  }
  .seafood .best-seller .our-best .best-product .best-list .list01 .list-info p {
    color: #0da487;
  }
  .seafood .summer .summer01 {
    background-image: url(../img/14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    border-radius: 8px;
  }
  .seafood .summer .summer01 h6 {
    color: #0da487;
    letter-spacing: 7px;
    padding: 7px 0;
  }
  .seafood .summer .summer01 h2 {
    font-size: 42px;
  }
  .seafood .summer .summer01 h5 {
    font-size: 14px;
    color: #4a5568;
  }
  .seafood .summer .summer01 button {
    padding: 14px 32px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(90deg, #ff7272 0%, #ff4f4f 100%);
    color: #ffffff;
    transition: all 0.5s;
    padding: 5px 10px;
    font-size: 15px;
    margin: 0 70px;
  }
  .seafood .summer .summer01 button a {
    color: #ffffff;
  }
  .seafood .summer .summer01 button:hover {
    background: linear-gradient(90deg, #ff4f4f 0%, #ff7272 100%);
  }
  .seafood .feature-blog .top-save-data h2 {
    font-size: 28px;
  }
  .seafood .feature-blog .top-save-data span {
    position: relative;
    margin: 0 50px 0 50px;
  }
  .seafood .feature-blog .top-save-data span::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    top: 49%;
    left: 100%;
    background-color: #0da487;
  }
  .seafood .feature-blog .top-save-data span::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    top: 49%;
    right: 100%;
    background-color: #0da487;
  }
  .seafood .feature-blog .feature-products .slick-wrapper3 {
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
  }
  .seafood .feature-blog .feature-products .slick-wrapper3 .slide-item3 {
    padding: 7px 0;
    margin: 0 5px;
    color: #222222;
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .seafood .feature-blog .feature-products .slick-wrapper3 .slide-item3 .box01 .product-img {
    width: 370px;
    height: 238px;
    overflow: hidden;
    border-radius: 7px;
  }
  .seafood .feature-blog .feature-products .slick-wrapper3 .slide-item3 .box01 .product-img img {
    width: calc(100% - 50px);
    max-width: 370px;
    min-width: 300px;
    height: 238px;
    border-radius: 7px;
    transition: all 0.5s;
    overflow: hidden;
  }
  @media (max-width : 1400px) {
    .seafood .feature-blog .feature-products .slick-wrapper3 .slide-item3 .box01 .product-img img {
      width: 320px
    }
  }
  .seafood .feature-blog .feature-products .slick-wrapper3 .slide-item3 .box01 .product-img img:hover {
    transform: scale(1.2) rotate(5deg);
  }
  .seafood .feature-blog .feature-products .slick-wrapper3 .slide-item3 .box01 b h6 {
    padding: 12px 0 0 0;
    text-align: left;
    font-size: 14px;
    color: #4a5568;
  }
  .seafood .feature-blog .feature-products .slick-wrapper3 .slide-item3 .box01 a h5 {
    color: #222222;
    text-align: left;
    font-size: 18px;
    transition: all 0.5s;
  }
  .seafood .feature-blog .feature-products .slick-wrapper3 .slide-item3 .box01 a h5:hover {
    color: #0da487;
  }
  
  .newsletter .news-letter-banner {
    background-image: url(../../../public/img/newsletter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    padding: 35px 0 35px 200px;
  }
  @media (max-width: 576px) {
    .newsletter .news-letter-banner {
      padding-left: 50px;
    }
  }
  .newsletter .news-letter-banner .news h3 {
    color: #ffffff;
  }
  .newsletter .news-letter-banner .news span {
    padding: 10px 0;
    color: #ffb321;
    font-size: 16px;
  }
  .newsletter .news-letter-banner .news .input-group {
    padding: 10px 0;
    width: calc(100%-450px);
  }
  .newsletter .news-letter-banner .news .input-group .input-group-text span {
    background-color: rgba(13, 164, 134, 0.2705882353);
    font-size: 24px;
    color: #0da487;
    padding: 0px 5px;
  }
  .newsletter .news-letter-banner .news .input-group button {
    padding: 14px 32px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(90deg, #ff7272 0%, #ff4f4f 100%);
    color: #ffffff;
    transition: all 0.5s;
    padding: 5px 10px;
    font-size: 14px;
  }
  .newsletter .news-letter-banner .news .input-group button a {
    color: #ffffff;
  }
  .newsletter .news-letter-banner .news .input-group button:hover {
    background: linear-gradient(90deg, #ff4f4f 0%, #ff7272 100%);
  }
  